<% title 'Dashboard' %>
<%= javascript 'dynamic_localities' %>	

<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mt10">
	<tr>
    <td width="36%" valign="top">
      <img src="images/heading_popular_product.gif" />
      <% if @popular_products.present? %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <% @popular_products.each do |product| %>
            <tr><td><%= product.name %></td></tr>							
          <% end %>  
        </table>
      <% end %>	
      <img src="images/heading_popular_services.gif" />
      <% if @popular_services.present? %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <% @popular_services.each do |serv| %>
            <tr><td><%= serv.name %></td></tr>										
          <% end %>  
        </table>
      <% end %>
    </td>
				
    <td width="64%" rowspan="2" valign="top">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3">
            <div id="products_page_div">
              <div id="left_list">Companies gallery</div>
              <div id="right_list">All</div>
            </div>
          </td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
        <tr>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="34%"><div class="logoBox">Logo</div></td>
          <td width="32%"><div class="logoBox">Logo</div></td>
        </tr>
      </table>
    </td>
			
		
	</tr>
</table>
	<!--<div id="people">&nbsp;</div>-->

<%#= render :partial => 'footer_ad' %>
