<% title 'Dashboard' %>
<%= javascript 'dynamic_localities' %>	

<% content_for :header do -%>
	My <%= configatron.site_name %>
<% end -%>


	<div id="people">&nbsp;</div>

<%= render :partial => 'footer_ad' %>


