<span style="color:#D5201C; font-size:11px;">
	your company's image advertisement has been approved....<br/>
	now you will be able to upload the images for your company
</span>
<br/>
<table>
	<tr><td>Date of registration </td><td><%= @company.image_from_date %></td></tr>
	<tr><td>will expire on</td><td><%= @company.image_to_date %></td></tr>
</table>
