<span style="color:#D5201C; font-size:11px;">
	your company's scroll advertisement has expired or is nearing expiry....<br/>
	if you wish to renew the facility please contact us
</span>
<br/>
<table>
	<tr><td>was registered on </td><td><%= @company.from_date %></td></tr>
	<tr><td>and expired/ will expire on</td><td><%= @company.to_date %></td></tr>
</table>
