<span style="color:#D5201C; font-size:11px;">
	your company's video advertisement has been approved....<br/>
	now you will be able to upload the video for your company
</span>
<br/>
<table>
	<tr><td>Date of registration </td><td><%= @company.video_from_date %></td></tr>
	<tr><td>will expire on</td><td><%= @company.video_to_date %></td></tr>
</table>
