<% unless @compv.blank? %>
<div id="videoForm" style="display: none;">
		<span class="close">
			<a href="#" onclick="hideAreaSelector('videoForm');">close [x]</a>
		</span>
		<div id="videoRedbox">
	<h3>Video Ads near expiry</h3>      
        <table cellspacing="0" cellpadding="0">
		<tr>
		   <th>Name</th>
		   <th style="width:100px">From Date</th>
		   <th style="width:100px">Expiry Date</th>
		</tr>
	<% for company in @compv %>         
          <% if((company.video_to_date - Date.today).to_i < 30)%>
		<tr>
		   <td><%=h company.name %></td>
		   <td><%=h company.video_from_date.strftime("%d %b '%y") %></td>
		   <% if (company.video_to_date - Date.today).to_i > 0 %>
		     <td><%=h company.video_to_date.strftime("%d %b '%y") %></td>
                   <% elsif (company.video_to_date - Date.today).to_i <= 0 %>
		     <td style="color:red;"><%=h company.video_to_date.strftime("%d %b '%y") %></td>
		   <% end %>
		</tr>	     
	  <% end %>	  
      <% end %>   
       </table>
		</div>
	</div>
<% end %>
