<h3>Popular Services</h3>
<% if @popular_services.present? %>
<div>To Remove a company from the popular services select the company and click the send to unpopular.</div>
  <table>
    <% form_tag 'popular_services' do %>
      <% @popular_services.each do |catlog| %>
        <tr>
          <td><%= check_box_tag "companies[]", catlog.id %></td>
          <td><%= catlog.name %><td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2"><%= submit_tag "Send to UnPopular" %></td>
      </tr>
      <tr>
        <td colspan="2"><%= will_paginate @popular_services %></td>
      </tr>
    <% end %>  
  </table>
<% end %>
