html{height: 100%; }

/*body {
	font-smooth: always; 
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing:1px; 
	color: #000; 
	background-color:#fff; 
	margin:0 auto; 
	padding:0; 
	font-size: 0.7em;}*/

* html body{height: 100%; overflow: auto;}

/* == default == */
p{ margin:0; padding :0}
/*ul { padding-left: 2em; margin-left: 0;}*/

/*a:link, a:visited { color: #bbb;}*/
a:hover { color: #333;}
a.name{ font-size:13px; font-weight:bold}
a img{ border:none}

form{margin:0; padding:0}

/* == h3 == */
h3{ 
	margin:0 auto; 
	padding :2px;
	width:98.8%;
	background-color:#f7f7f7;
	border:1px solid #ddd;
	text-transform:capitalize
}
* html h3{ width:98.8%}

/* == input == */
p input{width:60%}

select, textarea, input {
	border:1px solid black; 
	font-size: 1.1em; 
	font-family: arial, sans-serif; 
	color:#333;}

input[type="submit"] {
	background:url(/images/button.gif) no-repeat;
	border:none;
	height:21px;
	width:90px;
	font-size:11px}

input[type="submit"].no-image{ 
	background-image:none; 
	background-color:white; 
	width:90px}

input[type="file"] { border:1px solid #000;}
input[type="checkbox"]{ border:none; width:10px}

input#company_other_category{ width:351px}
* html input#company_other_category{ width:348px}

textarea#company_about{ height:70px; width:351px}
* html textarea#company_about{ height:70px; width:348px}

select#company_category_ids{ width:353px; border:1px solid #000}
select#company_business_id { width:353px}
select#category_business_id{ width:251px}
select#locality_city_id{ width:196px}

/* == clear divs == */
.clear{ 
	height:2px; 
	clear:both; 
	overflow:hidden; 
	width:100%}

.clear2{ 
	height:4px; 
	clear:both; 
	overflow:hidden; 
	width:100%}

/* == text display == */
.lower{ text-transform:lowercase}
.no-effects{ text-transform:none}
.bold{ font-weight:bold}
.capital{ text-transform:capitalize}

.no_border, .no_border img{ border:none}
.dropdwn select{ width:95%}

/* == wrapper == */
#wrapper{ 
	width:960px; 
	margin:0 auto; 
	min-height: 100%; 
	height: 100%;}

/* == header == */
#header{ 
	width:100%; 
	height:47px; 
	margin:0; 
	padding:0; 
	/*background-color:#D7D7CB;*/}

#header h1 { font-weight: normal; color: #fff;}
#header h1 span { font-size: 0.6em;	color: #bfd82d;}

#head_left{ 
	width:766px; 
	height:100%; 
	float:left; 
	margin:0 2px; 
	background-color:#000; 
	text-align:left; 
	overflow:hidden;
	border-right:1px solid #a7a7a7;
	border-left:1px solid #a7a7a7;
	border-bottom:1px solid #a7a7a7;
	border-top:none}	

#head_left ul{ 
	color:#9EA09F; 
	width:100%; 
	margin:0 auto;
	padding:15px 0 0 10px}

#head_left ul li{ display:inline;}
#head_left a{ 
	letter-spacing:3px; 
	color:#fff/*#9EA09F*/; 
	font-size:12px; 
	display:block; 
	height:100%; 
	display:inline; 
	text-decoration:none; 
	font-weight:bold; 
	padding:0 10px 0 10px;}

#head_left a:hover, #head_left a.current{ color:#d51814}

#head_right{ 
	width:186px; 
	height:100%; 
	float:right; 
	margin:0;
	border:1px solid #333;
	background-color:#D7D7CB;
	border-right:1px solid #a7a7a7;
	border-left:1px solid #a7a7a7;
	border-bottom:1px solid #a7a7a7;
	border-top:none}

.right_aln{ 
	float:right; 
	width:100%; 
	height:45px;
	background-image:url(/images/small_logo.jpg); 
	background-position:center bottom; 	
	background-repeat:no-repeat;}

/* == global links == */
* html #global_links{}

#global_links {	
	float: right; 
	text-align:right;
	background-color:transparent;
	font-size: 0.8em; 
	color: #000; 
	margin-right:-10px;
	margin-top:-5px}

#global_links a { color: #000;text-decoration:none}
#global_links a:hover {	color: #333;}

/* == main == */
#main { 
	margin:0; 
	padding:0; 
	clear:both; 
	text-transform:capitalize; 
	min-height:510px;}
#left{ float:left; height:100%; min-height:510px;}
#right{ float:right; height:100%; min-height:512px;}
/* == left column == */
#left { 
	width: 766px; 
	padding:0 0 2px 0; 
	background-color:#eee; 
	border:1px solid #d7d7d7;
	overflow:hidden;
	margin:0 2px}

#left .head { 
	color: #204ca0; 
	font-weight: normal; 
	padding: 10px; 
	margin: 0; 
	font-size: 1.3em;}

#left #screen div span{padding:0 0 0 4px}

/* == error == */
.fieldWithErrors { 
	padding: 2px; 
	background-color: red;	
	display: table;}

#errorExplanation { 
	width: 400px; 
	border: 2px solid red; 
	padding: 7px; 
	padding-bottom: 12px; 
	margin-bottom: 20px;
	background-color: #f0f0f0;}

#errorExplanation h2 { 
	text-align: left; 
	font-weight: bold; 
	padding: 5px 5px 5px 15px; 
	font-size: 12px;
	margin: -7px; 
	background-color: #c00; 
	color: #fff;}

#errorExplanation p { 
	color: #333; 
	margin-bottom: 0; 
	padding: 5px;}

#errorExplanation ul li { font-size: 12px; list-style: square;}

div.uploadStatus { margin: 5px;}
div.progressBar { margin: 5px;}

div.progressBar div.border { 
	background-color: #fff; 
	border: 1px solid grey; 
	width: 100%;}

div.progressBar div.background { 
	background-color: #333; 
	height: 18px;	
	width: 0%;}

#left #notice, #left #error, #left #warning{
	padding:0.7em 1em; 
	background-color:#e5ffba; 
	font-weight:bold;}

#left #notice {	color:#6d9100; }
#left #error { color:#9f1d20; }
#left #warning { color:#ee9a00; }

/* == tipform == */
#tipForm{ 
	position:absolute; 
	top:100px; 
	left:50%; 
	margin-left:-125px; 
	padding: 5px; 
	font-size: 0.8em; 
	background-color:#fff; 
	border: 2px solid #000; 
	color: #333; 
	z-index: 1000; }

#tipForm .close{ 
	position: absolute; 
	top: 0px; 
	right: 3px; 
	text-align: right; }

#tipForm .close a{ text-decoration: none; color: #333;}
#tipForm table{padding: 3px; padding-left: 15px;}
#tipForm table a{ color: #333;}
#tipForm table a:hover {color:#000; text-decoration:underline }
#tipRedbox { 
	background: #dededc; 
	padding: 10px; 
	width: 250px; 
	font-weight:bold; }

#tipRedbox a{ color: #333; }

/* == rating tips == */
.rating_tips{   
	height:10px; 
	width:9px; 
	background: url(/images/star.png) no-repeat; 
	background-position: right center;
	float:right;}

	* html .rating_tips{ 
		background-image:none; 
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/star.png', sizingMethod='scale');}

	#rating{ width:140px}
	#rating .left{
		float:left; 
		width:50%; 
		text-align:left }

	#rating .right{float:right; width:50%}

/* == popup == */
#loginForm{ 
	position:absolute; 
	top:100px; 
	left:30%; 
	margin-left:-125px; 
	padding: 5px; 
	font-size: 0.8em; 
	background-color:#fff; 
	border: 2px solid #000; 
	color: #333; 
	z-index: 1000; }

#loginForm .close{ 
	position: absolute; 
	top: 0px; 
	right: 3px; 
	text-align: right; }

#loginForm .close a{ text-decoration: none; color: #333;}
#loginForm table{ padding: 3px 3px 3px 15px;}
#loginForm table a{ color: #333;}
#loginForm table a:hover {color:#000; text-decoration:underline }

#loginRedbox { 
	background: #dededc; 
	padding: 10px; 
	width: 250px; 
	font-weight:bold; }

#loginRedbox a{ color: #333; }
#loginForm table input {border:1px inset white;}
#loginForm table input[type="password"], #loginForm table input[type="text"]{ width:200px}
* html #loginForm td#login input[type="password"]#password{width:200px} 

#signupForm{ 
	position:absolute; 
	top:100px; 
	left:30%; 
	margin-left:-175px; 
	padding: 5px; 
	font-size: 0.8em; 
	background-color:#fff; 
	border: 2px solid #000; 
	color: #333; 
	z-index: 1000; }

#signupForm .close{ 
	position: absolute; 
	top: 0px; 
	right: 3px; 
	text-align: right;}

#signupForm .close a{ text-decoration: none; color: #333;}
#signupForm table{padding: 3px; padding-left: 15px;}
#signupForm table a{ color: #333;}
#signupForm table a:hover {color:#000; text-decoration:underline }

#signupRedbox { 
	background: #dededc; 
	padding: 10px; 
	width: 350px; 
	font-weight:bold; }

#signupRedbox a{ color: #333; }
#signupForm table input {border:1px inset white;}
#signupForm table input[type="password"], #signupForm table input[type="text"]{ width:200px}

/* == table == */
table{ width:100%;}
table th { 
	text-align: left; 
	background-color:#C7C7BC; 
	height:16px; 
	min-height:16px}

table tr { width:100%; height:21px}
tr.odd td{ background-color:#f7f7f7}
tr.even td{ background-color:transparent}

.blue{ border:1px solid #F7D5D8;}
.main-blue{background-color:#FFE8E9; border:1px solid #F7D5D8;}
.main-blue table{ margin:0px 5px 0 0px; background-color:transparent}
.blue table{ margin:0px 5px 0 0px; background-color:transparent}

.pre{ border:1px solid #ddd;background-color:#f7f7f7;}
.pre-col{background-color:#FFF; border:1px solid #ddd;}

.pre table, .pre-col table, .pre_gray table, .priority table{ 
	margin:0 auto; 
	background-color:transparent; 
	width:100%; 
	padding:5px 5px 5px 5px}

.pre table.no_pad, .pre-col table.no_pad{ 
	margin:0 auto; 
	background-color:transparent; 
	width:100%; 
	padding:0}

.col{ border:1px solid #deffec; background-color:#F0FFF6;}
.col table{ 
	margin:0 auto; 
	background-color:transparent; 
	width:98%}

/* == company-name == */
.company-name{height:25px;}
.company-name a{
	font-size:1.3em; 
	font-weight:bold; 
	color:#3B3B38; 
	text-decoration:none;
	border-bottom:1px #000 dotted}

.company-name a:hover{border-bottom:1px #000 solid}

/* == tabs == */
#tabs{ 
	position:relative; 
	top:70px; 
	left:-20px;}

#tabs ul{ color:#000}
#tabs ul li{ display:inline;}

#tabs a{ 
	color:#000; 
	font-size:12px; 
	display:block; 
	height:100%; 
	display:inline; 
	text-decoration:none; 
	font-weight:bold;
	padding-left:10px;
	padding-right:10px}

#tabs a:hover{ color:#dc2421}
#tabs a.current{ color:#dc2421}

/* == links == */
.gray{color:#c7c7c7}

.blue_link{ 
	width:100px; 
	padding:2px 10px 2px 10px ;
	background-color:#f7f7f7; 
	border:1px solid #ddd; 
	text-align:center; 
	margin:0; 
	height:18px;}

.blue_link a{ 
	text-decoration:none; 
	width:100%; 
	color:#A7A79D}

.link{ width:20px}/* given for the edit and delete column width */
*:first-child+html .link{width:5%}

/* == pagination == */
.pagination {
	cursor: pointer; 
	text-align: left; 
	padding: 3px;	
	margin: 0 0 1px 0; 
	background-color:#f7f7f7;
	border:1px solid #C7C7BC; 
	height:16px; 
	line-height:16px}

.pagination a {	
	padding: 1px 2px 1px 2px; 
	border: 1px solid #C7C7BC; 
	text-decoration: none; 
	color: #C7C7BC;}

.pagination a:hover, .pagination a:active {
	border: 1px solid #F3FAFE; 
	background-color: #C7C7BC; 
	color: #000;}

.pagination span.current { 
	padding: 1px 2px 1px 2px; 
	border: 1px solid #C7C7BC; 
	font-weight: bold; 
	background-color: #C7C7BC; 
	color: #FFF;}

.pagination span.disabled { 
	padding: 1px 2px 1px 2px;
	border: 1px solid #C7C7BC; 
	color: #C7C7BC;}

#submitbutton {	margin: 0.8em;	text-align: right;}

/* == right column == */
#right { 
	width: 186px; 
	padding:0; 
	margin: 0; 
	color: #666; 
	overflow:hidden; 
	background:#EDEDED; 
	border:1px solid #d7d7d7;}
#right p { padding:0 0 0 0.5em;}
#right a { color: #666;}
#right a:hover { color: #333;}
#right label { /* font-weight: bold;*/}
#right h2 { 
	color: #494949; 
	font-weight: normal; 
	font-size: 1.2em; 
	padding: 0.5em;}

/* == right column sidebar == */
.sidebar_green{ background-color:#EFF5E7; border:1px solid #E5EBDD;}
.sidebar_green center{ background-color:#fff}
.sidebar_green h2{ background-color:#E5EBDD; margin:0}
.sidebar_green ul{ width:90%}

.sidebar_green ul li{ 
	list-style:none; 
	width:100%; 
	background-color:#fff; 
	margin-top:2px; 
	margin-bottom:2px;}

.sidebar_green ul li a{ 
	text-decoration:none; 
	display:block; 
	width:100%; 
	padding-left:10px;}

.sidebar_green ul li a:hover{ background-color:#E5EBDD; width:98%}

.image{ width:380px;}

.slide {
	margin-left:0px; 
	position: absolute; 
	width: 380px; 
	height:auto; 
	margin-top:2px}

* html .slide { 
	display:inline; 
	overflow: hidden ; 
	margin-left:-49.7%;}

*:first-child+html .slide{ margin-left:-15%; }
.content-id p {	
	width: 380px; 
	padding: 5px 10px 0 10px;	
	margin: 0; 
	background: #E0EADF;}

.content-id h2 { 
	width: 380px; 
	margin-top: 29px; 
	padding-left: 10px; 
	background: #E0EADF;}

#content-body {	
	margin: 0 auto 0 auto; 
	background: #FFF;
	display:inline;}
	
#location{  float:left}
#location select#locality{width:145px}

#shift{ padding:0px 0 0 0;}
#sidebar{ margin-bottom:1px}

/* == footer == */
/* 
#footer_break{ height:110px; clear:both}
* html #footer_break{ height:125px}

#footer_bottom{position:fixed; width:950px; bottom:0;  }
* html .footer_bottom {position:absolute;} */

#footer_links{ 
	width:100%; 
	background-color:#D7D7CB; 
	height:70px; 
	text-align:center;}

#footer_links ul{ padding:4px 0 0 0; margin:0}
#footer_links ul li{ display:inline; } 

#footer_links ul li img{
	padding:0; 
	margin:0;
	border:2px solid #AFADB0;}

marquee{padding:0; margin:0}
#alpha_head{background:url(images/alphabet_bg.gif) repeat-x left top; height:39px;}
#alpha_head ul{list-style:none; list-style-type:none;margin:0; padding:0px 0.5px;}
#alpha_head ul li {display:inline;font-size:14px; color:#000000;margin:0; padding:0 4px;}
#alpha_head ul li a, #alpha_head ul li a:visited{color:#000000; text-decoration:none;}
#alpha_head ul li#current a{color:#af2421;margin:0;text-decoration:none;}
/*ul{list-style:none; list-style-type:none;margin:0; padding:10px 5px;}
			ul li{display:inline;font-size:14px; color:#000000;margin:0; padding:0 4px;}
			ul li a{color:#000000; text-decoration:none;}
			ul li a:hover{color:#af2421; text-decoration:none;}
			ul li a.current{color:#af2421;margin:0;text-decoration:none;}*/
.advt{margin:17px; height:185px; line-height:185px; background:#a9a9a9; text-align:center; }
.advt span, .video span{color:#cb202b; font-weight:bold}
.video {margin:17px; height:185px; line-height:185px; background:#bab3d5; text-align:center; }

/*#screen_green{margin:20px; color:#646263; line-height:18px }
#screen_green ul{margin:0; padding:0; list-style:none}
#screen_green ul li{height:18px; line-height:18px}
#screen_green ul li a, #screen_green ul li a:visited{font-weight:bold; color:#615f60; text-decoration:none}
#screen_green ul li#current a{color:#d51814}*/

.red_header{color:#d83a2f; font-weight:bold; text-transform:none}
#screen_green input, #screen_green select{border:1px solid #c0c0c0}
#screen_green input.small{width:198px}
#screen_green input.big{width:376px}
#screen_green textarea{border:1px solid #c0c0c0; height:50px; width:376px}

#screen_green table{background:transparent}

input.screen_button{background:url('/images/new_btn.jpg') repeat-x; border:1px solid #cbc4b3; height:23px; line-height:23px; font-weight:bold }


input.checkbox{background:#fff; width:10px; padding:0}
