/* == input == */
input[type="file"] {width:353px;}
#location select#locality{width:145px}

/* == category name == */
.category_name{font-weight:bold; color: #bbb;}

/* == text styling == */
.bold1{ font-weight:bold; width:100px}
.bold2{ font-weight:bold; width:120px}

/* == left column == */

#left .head { 
	color: #204ca0; 
	font-weight: normal; 
	padding: 10px; 
	margin: 0; 
	font-size: 1.3em;}

#left #screen div span{padding-left:4px}

/* == rating tips == */
.rating_tips{   
	height:9px; 
	width:9px; 
	background: url(/images/star.png) no-repeat; 
	background-position: right center;
	float:right;}

* html .rating_tips{ 
	background-image:none; 
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/star.png', sizingMethod='scale');}

#rating{ width:140px}
#rating .left{
	float:left; 
	width:50%; 
	text-align:left }

#rating .right{float:right; width:50%}

/* == reviews == */
.reviews{ border:1px solid #f0f0f0; margin:0 0 2px 0;}

/* == tipform == */
#tipForm{ 
	position:absolute; 
	top:100px; 
	left:50%; 
	margin-left:-125px; 
	padding: 5px; 
	font-size: 0.8em; 
	background-color:#fff; 
	border: 2px solid #000; 
	color: #333; 
	z-index: 1000; }

#tipForm .close{ 
	position: absolute; 
	top: 0px; 
	right: 3px; 
	text-align: right; }

#tipForm .close a{ text-decoration: none; color: #333;}
#tipForm table{padding: 3px; padding-left: 15px;}
#tipForm table a{ color: #333;}
#tipForm table a:hover {color:#000; text-decoration:underline }
#tipRedbox { 
	background: #dededc; 
	padding: 10px; 
	width: 250px; 
	font-weight:bold; }

#tipRedbox a{ color: #333; }

/* == right column == */
#right {
	margin:0 auto;
	min-height:100%; 
	height:100%}

.sidebar_green{  padding:5px}
#content-body_rev {	margin: 300px auto 0 auto; background: #FFF;}

/* == tabs == */
* html #tabs {position:relative; top:10px}
#tabs a { color: #fff; text-decoration:none}
#tabs ul { background-color:#DD2421; height:25px;}
#tabs li { 
	margin-left:0;
	list-style: none;
	display: inline;
	padding:2px 7px 0 7px; 
	position:relative; 
	top:5px;}
#tabs li a:hover { color:#333;}
#tabs li a.current { color:#333;}

/* == footer == */
#footer_break{ height:72px; clear:both;}
* html #footer_break{ height:91px}

#footer_bottom{ 
	position:fixed; 
	width:960px; 
	bottom:0;}
* html #footer_bottom {position:absolute;} 

marquee{padding:0, margin:0}
