<div id="mainRating"> 
		<div>
			<!-- <span class="close">
						<a href="#" onclick="hideAreaSelector('tipForm');">close [x]</a>
					</span> -->
			<div id="tipRedbox">
				<div class="clear2"></div>
				<div>Ratings according to stars</div>
				<div class="clear2"></div>
				<div id="rating">
					<div style="height:20px">
						<div class="left">Excellent</div>			
						<div class="right">
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
						</div>		
					</div>

					<div style="height:20px">
						<div class="left">Good</div>			
						<div class="right">
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
						</div>		
					</div>

					<div style="height:20px">
						<div class="left">Average</div>			
						<div class="right">
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
						</div>		
					</div>

					<div style="height:20px">
						<div class="left">Poor</div>			
						<div class="right">
							<div class="rating_tips"></div>
							<div class="rating_tips"></div>
						</div>		
					</div>

					<div style="height:20px">
						<div class="left">Awful</div>			
						<div class="right">
							<div class="rating_tips"></div>				
						</div>		
					</div>		
				</div> 
			</div> 
		</div>
	</div>