<!--<%#= javascript 'dynamic_localities' %>-->
<% title 'Advertise' %>

	<div class="pl10 pt10">
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="4"><h4>To advertise your brand or company when they are actively looking for information about your products and services
            </h4><br />
              To join Free fill in the below details &amp; our executive will get back to you soon.</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3">&nbsp;</td>
          </tr>
        </table>
		<% form_for(:company, :url => advertisements_path, :method => :get, :html=>{:multipart => true}) do |f| %>			 
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		<%= f.error_messages %>
		  <%=render :partial => 'company', :locals=>{:f=>f}%>
		
			<tr>
				<td valign="top">Other Categories:</td>	
				<td valign="top"><%= f.text_field :other_category, :size => 28 %></td>
			</tr>	 
		 	<tr>
	            <td>&nbsp;</td>
	            <td colspan="3"><%= f.submit params[:id] ? "Update" : "submit", :class=>"button" , :onclick=>"javascript:allselect();"%>	</td>	
			</tr>	  
		  </table>
		<% end %>	
</div>

