<!--<%#= javascript 'dynamic_localities' %>-->
<% title 'Advertise' %>
<div>
<h3>Advertise</h3>
<div class="clear"></div>
		<% form_for(:company, :url => advertisements_path, :method => :get, :html=>{:multipart => true}) do |f| %>			 
		  <table cellspacing="0">
		<%= f.error_messages %>
		  <%=render :partial => 'company', :locals=>{:f=>f}%>
		
			<tr>
				<td valign="top">Other Categories:</td>	
				<td valign="top"><%= f.text_field :other_category, :size => 28 %></td>
			</tr>	 
		 	<tr>
				<td colspan="2" align="right"><%= f.submit params[:id] ? "Update" : "submit", :class=>"button" , :onclick=>"javascript:allselect();"%>	</td>	
			</tr>	  
		  </table>
		<% end %>	
</div>

