<% title 'Career' %>
<%= javascript 'dynamic_localities' %>	
<div id="people">
	<div id="screen_1">
		<br/>
		<p>Destiny is nota matter of chance. It is a matter of choice-it is not to be waited for, it is a thing to be achieved.</p>
		<br/>
		<p>At SERVICES, our people determine our access. We aim to promote Growth, Teamwork, and Learning through constant innovation that ensures we grow together in this competitive arena. With a team of multi-disciplinary individuals coming from diverse backgrounds, we strive in helping our clients become high-performance businesses.</p>
		<br/>
		<p>We have an energetic and open workplace environment. Respect and recognition of performance is an inbuilt part of our work ethos. consistent performance then, is not an effort but a habit.</p>
		<br/>
		<p>Come and be a part of our family. Explore the varios opportunities existing in any of our locations, and fulfill your dreams.</p>
		<br/>
		<p>
		MUMBAI<br/>
		PUNE<br/>
		BANGALORE<br/>
		KOLKATA<br/>
		AHEMDABAD
		</p>
	</div>
</div>
<% content_for :footer do%>
 <%= render :partial => '/dashboard/footer_ad' %>
<%end%>
