<% title 'Edit City' %>
<div>
	<h3>Edit city</h3>
	<div class="clear"></div>
	<% form_for(:city, :url => { :action => "update" }, :html=>{:method => :put}) do |f| %>
	 	<%=render :partial => 'city', :locals=>{:f=>f}%>	
	<% end %>
	<br/>
	<span class="blue_link"><%= link_to 'Show', admin_city_path(@city) %></span>
	<span class="blue_link"><%= link_to 'Back', admin_cities_path %></span>
</div>
	
