<% title @city.name %>
<div>
	<h3><%=h @city.name %></h3>		
</div>
	<br/>
	<span class="blue_link"><%= link_to 'Edit', edit_admin_city_path(@city) %></span>
<span class="blue_link"><%= link_to 'Back', admin_cities_path %></span>
		
	
